@model IEnumerable<VietGearStore._1511060754.Models.Logo>

<div class="logo">
    @foreach (var i in Model)
    {
        <a href="index.html"><img src="~/Content/upload/img/logo/@i.img" style="width:300px" alt="" /></a> 
    }
</div>